:root {
    /* Colors */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;
  
    /* Typography */
    --font-family: 'Inter', sans-serif;
  
    --text-preset-1-size: 24px;
    --text-preset-1-weight: 700; /* Bold */
    --text-preset-1-line-height: 150%;
    --text-preset-1-letter-spacing: 0px;
  
    --text-preset-2-size: 14px;
    --text-preset-2-weight-regular: 400;
    --text-preset-2-weight-bold: 700;
    --text-preset-2-line-height: 150%;
    --text-preset-2-letter-spacing: 0px;
  
    /* Spacing */
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-500: 40px;
  }  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-color: var(--grey-900);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    width: 327px;
    padding: var(--spacing-300);
    background-color: var(--grey-800);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    border-radius: 12px;
}

img{
    height: 88px;
    width: 88px;
    border-radius: 50px;
    margin-bottom: var(--spacing-300);

}

.name_location{
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-300);
}

.name_location h2{
    font-size: var(--text-preset-1-size);
    font-weight: var(--text-preset-1-weight);
    letter-spacing: var(--text-preset-1-letter-spacing);
    line-height: var(--text-preset-1-line-height);
}

.name_location p{
    color: var(--green);
    font-size: var(--text-preset-2-size);
    font-weight: var(--text-preset-2-weight-bold);
    letter-spacing: var(--text-preset-2-letter-spacing);
    line-height: var(--text-preset-2-line-height);
}

.bio{
    margin-bottom: var(--spacing-300);
    font-size: var(--text-preset-2-size);
    font-weight: var(--text-preset-2-weight-regular);
    letter-spacing: var(--text-preset-2-letter-spacing);
    line-height: var(--text-preset-2-line-height);
}

.links{
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.links div{
    font-size: var(--text-preset-2-size);
    font-weight: var(--text-preset-2-weight-bold);
    letter-spacing: var(--text-preset-2-letter-spacing);
    line-height: var(--text-preset-2-line-height);
    width: 279px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-700);
    border-radius: 8px;
    padding: 12px;
}

.links div:hover{
    background-color: var(--green);
    color: var(--grey-900);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
  }

@media (min-width: 768px) {
    main{
        padding: var(--spacing-500);
        width: 384px;
    }

    .links div{
        width: 304px;
    }
}
